.art-image{
    height: 700px;
    border-top: 10px rgb(52, 58, 64) solid;
    border-bottom: 10px rgb(52, 58, 64) solid;
    border-radius: 5px;
}
.boxes-big{
    height: 200px;
} 
.white-smoke-box{
    width: 100%;
    height: 50px;
    background-color:  white;
}
.information-box{
    margin-bottom: 100px; 
    margin-top: 25px; 
}