.block{
    margin-top: 2%;
      background-color: #5897a8;
      max-width: 100%;
      height: fit-content;    
}

.card1{
    width: 90%;
    height: auto;
    margin-top: 5%;
    float: left;
}

#famous{
    font-size: 120%;
}
.card1{
    width: 50%;
    height: auto;
    margin-top: 5%;
    float: left;
}

.logito{
    margin-left: 2%;
    width: 5%;
    height:5%;
}

#boton{
    margin-left: 5%;
    background-color: #f0e973;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}